# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build
/.open-next/
/.wrangler/

# cloudflare local secrets
.dev.vars*
!.dev.vars.example

# local environment
.env*
!.env.example

# misc
.DS_Store
*.pem
*.log

# typescript
*.tsbuildinfo
